@if (quest.isLoading()) {
  <div class="loading">
    <mat-spinner></mat-spinner>
  </div>
} @else {
  @let wa_quest = quest.value();

  @switch (wa_quest!.status) {
    @case ('active') {
      <div class="quest-container">
        <section class="quest-panel">
          <span class="number top-left">{{ wa_quest!.quest!.points }}</span>

          <div class="quest-name">{{ wa_quest!.quest!.name }}</div>

          <div class="quest-difficulty">
            <span> רמת קושי:</span>
            @switch (wa_quest!.quest!.difficulty) {
              @case (1) {
                {{ QuestDifficulty.EASY }}
              }

              @case (2) {
                {{ QuestDifficulty.MEDIUM }}
              }

              @case (3) {
                {{ QuestDifficulty.HARD }}
              }
            }
          </div>

          <div class="quest-description">{{ wa_quest!.quest!.description }}</div>

          <span class="number bottom-right">{{ wa_quest!.quest!.points }}</span>
        </section>

        <button class="submit-button" mat-flat-button (click)="onFinishQuest()">סיום משימה</button>
      </div>
    }

    @case ('completed_today') {
      <div class="quest-container">
        <section class="quest-panel">
          <div class="full-panel">תקבל את המשימה הבאה רק מחר :(</div>
        </section>
      </div>
    }

    @case ('available') {
      <div class="quest-button" matRipple (click)="onQuestButton()">קבל משימה</div>
    }
  }
}
