<nav class="bottom-nav">
  <div
    class="bottom-nav__indicator"
    [style.transform]="indicatorStyle().transform"
    [style.width]="indicatorStyle().width"
  ></div>

  @for (tab of tabs; track $index) {
    <a
      #tabEl
      class="bottom-nav__tab"
      [routerLink]="tab.route"
      routerLinkActive="bottom-nav__tab--active"
      [class.bottom-nav__tab--active]="activeIndex() === $index"
    >
      <mat-icon class="bottom-nav__icon">{{ tab.icon }}</mat-icon>
      <span class="bottom-nav__label">{{ tab.label }}</span>
    </a>
  }
</nav>
